<!DOCTYPE html>
<html ng-app="notepadApp" ng-clock>
  <head>
    <title>Hello</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css /styles/main.css -->
    <link rel='stylesheet' href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <!-- endbuild -->
    <!-- build:js /scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js" ></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/javascripts/routerApp.js"></script>
    <script src="../public/javascripts/indexController.js"></script>
    <!-- endbuild -->
  </head>
  <body id="indexController">
    <div ui-view="content" class="container">

    </div>


  </body>
</html>
